html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.astext {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align:left;
}
.form-label {
    margin-bottom: 0.5rem;
    color: white;
}
.text-center {
    text-align: center !important;
    color: white;
}
.small {
    font-size: 80%;
    color: white;
    font-weight: 400;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    background-image: url("../asset/bg.png");
    margin-bottom:120px;
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: top;
}
.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 100%;
    margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    font-size: 25px;
    padding: 30px 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
    margin: auto;
    background-color: #F9F9F9;
}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 100%;
    padding: auto;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    font-size: 15px;
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    font-size: 15px;
    margin-left: 5px;
}

.active:after {
    font-size: 15px;
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}